<router-outlet />
<ui5-input placeholder="User Name" [value]="person.userName" (input)="person.userName = $any($event.target).value"></ui5-input>
<ui5-input placeholder="First Name" [value]="person.firstName" (input)="person.firstName = $any($event.target).value"></ui5-input>
<ui5-input placeholder="Last Name" [value]="person.lastName" (input)="person.lastName = $any($event.target).value"></ui5-input>
<ui5-input placeholder="Email" [value]="person.email" (input)="person.email = $any($event.target).value"></ui5-input>
<ui5-select [value]="person.gender" (change)="person.gender = $any($event.target).value">
  <ui5-option value="Male">Male</ui5-option>
  <ui5-option value="Female">Female</ui5-option>
</ui5-select>
<ui5-button design="Transparent" (click)="createPerson()">{{person.id?"update person":"add button"}}</ui5-button>
<ui5-button design="Transparent" (click)="resetFrom()">Reset</ui5-button>

<div>
  <h1>People {{people.length}}</h1>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of people">
        <td>{{p.userName}}</td>
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.email}}</td>
        <td>{{p.gender}}</td>
        <td>
          <ui5-button design="Transparent" (click)="EditPerson(p)">Edit</ui5-button>
<ui5-button design="Transparent" (click)="deletePerson(p.id)">Delete</ui5-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>